.pv-doc img {
  display: block;
  max-width: 100%;
}

.vp-doc .internal-link {
  color: rgb(24, 160, 88);
  background-color: rgba(180, 180, 180, 0.1);
 
}
.vp-doc div{
  display: inline;
}

.dark .vp-doc .internal-link {
  color: rgb(99, 226, 183);
  background-color: rgba(180, 180, 180, 0.15);
}
